<!-- In views/leaderboard.ejs -->
<tbody>
    <% players.forEach((player, index) => { %>  <!-- Changed 'scores' to 'players' -->
    <tr>
        <td class="rank"><%= index + 1 %></td>
        <td class="player">
            <img src="<%= player.avatar || '/images/default-avatar.png' %>" alt="<%= player.username %>">
            <%= player.username %>
        </td>
        <td class="score"><%= player.score || 0 %></td>
        <td class="game">All</td> <!-- Default game filter -->
    </tr>
    <% }); %>
</tbody>